

.cabecera{
	text-align: center;
}


.bloque a{
	text-decoration: none;
	color: white;
	/*font-size: 18px;*/
}

.bloque{
	text-align: center;
	/*margin: 20px;*/
	padding: 16px;
}

.img_bloque{
	width: 200px;
	height: 200px;
	background-color: #000000;
	border-radius: 20%;
	/*text-align: center;*/
	padding: 16px;
}
.img_bloque img{
    width:80%;
}
.img_bloque div {
    font-size: 20px;
   margin-top:10px;
    width: 100%;
   text-align: center;
}

button{
    background: transparent;
    border:none;
}


.textoazul{
	color: #5ec9e9;
	font-weight: bold;
}